<script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.149.0/build/three.module.js",
            "OrbitControls": "https://unpkg.com/three@0.149.0/examples/jsm/controls/OrbitControls.js",
            "GLTFLoader": "https://unpkg.com/three@0.149.0/examples/jsm/loaders/GLTFLoader.js",
            "MTLLoader": "https://threejs.org/examples/jsm/loaders/MTLLoader.js",
            "OBJLoader": "https://threejs.org/examples/jsm/loaders/OBJLoader.js"
        }
    }
</script>
<linkFile rel="javascript" href="3Dtruck.js" type="module"></linkFile>
<div id="3Dtruck--container"></div>
