#userPanel
{
    overflow: hidden;
    height: 100%;
    width: 35vh;
}
#userPanelLink{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}
#userPanelLink a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
    transition: var(--transition-duration);
}
#userPanelLink a svg{
    margin: 0 10px;
    transition: var(--transition-duration);
    transform: rotate(0deg);
}
#userPanelLink a:hover{
    color: var(--green1);
    font-weight: bold;
}
#userPanelLink a:hover svg{
    transform: rotate(360deg);
}