/*userPanel--popup est une dib au centre de la page 80% H et 80% W avec un background blanc et un border radius de 10px*/
#userPanel{
    height: 100vh;
    width: 100vw;
}
#userPanel--popup{
    background-color: var(--white1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    margin: auto auto;
}