<script src="https://kit.fontawesome.com/f048ac3c36.js" crossorigin="anonymous"></script>
<linkFile rel="stylesheet" href="header.css"></linkFile>
<linkFile rel="javascript" href="header.js"></linkFile>
<div id="header--" class="header--" style="position: sticky;">
    <div class="header--maint">
        <a href="/" style="height: 14vh;" ><img src="media/img/logo--white.svg" alt="restocoop" class="header--logo" id="header--logo"></a>
        <div class="header--menu">
            <a href="/" class="header--menu_link header--_home"><i class="fa-solid fa-house"></i> <span>Accueil</span></a>
            <a href="/territoire" class="header--menu_link header--_territoire"><i class="fa-solid fa-route"></i> <span>le Territoire</span></a>
            <a href="/produits" class="header--menu_link header--_produits"><i class="fa-solid fa-carrot"></i> <span>les Produits</span></a>
            <a href="/coopprojet" class="header--menu_link header--_coopprojet"><i class="fa-solid fa-rocket"></i></i> <span>Coop'Projet</span></a>
            <a href="/contact" class="header--menu_link header--_contact"><i class="fa-solid fa-envelope"></i> <span>Contact</span></a>
            <div id="userButton" class="header--menu_link header--_user"><i class="fa-solid fa-user"></i> <span>mon compte</span>
            <div id="closeMenu">
                <i class="fa-solid fa-times"></i>
            </div>
        </div>
        <dip id="openMenu">
            <i class="fa-solid fa-bars"></i>
        </dip>
                    
    </div>
    <div class="header--themeSwitch">
        <component src="themeSwitch" variable="[]" />
    </div>

    <script>



    </script>
</div>
</div>
