<linkFile rel="stylesheet" href="1.css"> </linkFile>
<div>
    <div id="promo--bg">
        <div id="promo--text">
            <a id="promo--inscription" href="/contact">INSCRIVEZ VOTRE COLLECTIVITÉ !...</a>
            <div id="promo--cuisinez">Et testez nos légumes en cuisine !
                <div id="promo--choisissez">Choisissez vos légumes et faites vous livrer votre cagette de légumes bio.  Offre réservée aux établissements scolaires et médico-sociaux du Forez. </div>
            </div>
        </div>
        <div id="promo--img"></div>
    </div>
</div>
