<linkFile rel="stylesheet" href="addProduct.css"></linkFile>
<div class="container">
    <h1>Product Creation</h1>
    <form id="productForm">
        <label for="sku">SKU:</label>
        <input type="text" id="sku" required>
    
        <label for="name">Name:</label>
        <input type="text" id="name" required>
    
        <label for="categoryID">Category ID:</label>
        <input type="text" id="categoryID" required>
    
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" required>
    
        <label for="poids">poids:</label>
        <input type="number" id="poids" required>
    
        <label for="prix">Price:</label>
        <input type="number" id="prix" required>
    
        <label for="fournisseurID">fournisseurID:(not implemented, use 1)</label>
        <input type="text" id="fournisseurID" value="1" required>
    
        <label for="imageUrl">Image URL:</label>
        <input type="text" id="imageUrl" required>
    
        <label for="description">Description:</label>
        <textarea id="description" rows="4" required></textarea>
    
        <button type="button" onclick="submitForm()">Create Product</button>
    </form>
    
    <div id="response"></div>
</div>
<linkFile rel="javascript" href="addProduct.js"></linkFile>
