<linkFile rel="javascript" href="login.js"/>
<linkFile rel="stylesheet" href="login.css"/>
<div id="mainLogin">
    <div id="login">
        <label >login</label>
        <label for="username">nom d'utilisateur: </label><input type="text" name="username" id="username">
        <label for="mdp">mot de pass: </label><input type="password" name="password" id="password">
        <input type="checkbox" name="remember" id="remember"><label for="remember">se souvenir de moi pendant 30 jours</label>
        <button id="loginBt" >login</button>
        <button id="registerBtShow" >register</button>
    </div>
    <div id="register">
        <label >register</label>
        <label for="username">nom d'utilisateur: </label><input type="text" name="username" id="register-username">
        <label for="email">email: </label><input type="email" name="email" id="register-email">
        <label for="mdp">mot de pass: </label><input type="password" name="password" id="register-password">
        <button id="registerBt" >register</button>
        <button id="loginBtShow" >login</button>
    </div>
    <data id="tokenStorage" style="display: none;"></data>
</div>